<footer>
        <section class="section__footer__nav">
                <article class="buscar__tienda__footer">
                    <a class="a__bold" href="/Tienda">BUSCAR TIENDA</a>
                </article>
                <article class="ayuda__footer">
                    <nav class="nav__ayuda">
                        <ul>
                            <li><a class="a__bold" href="/informacion">AYUDA</a></li>
                            <li><a class="a__nav__footer" href="/informacion/#envios">Envíos y entregas</a></li>
                            <li><a class="a__nav__footer" href="/informacion/#metodo-pago">Opciones de pago</a></li>
                            <li><a class="a__nav__footer" href="/tienda/#contacto">Contactanos</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="acerca__mystik__footer">
                    <nav>
                        <ul>
                            <li><a class="a__bold" href="/acerca-mistyk">ACERCA DE MYSTIK</a></li>
                            <li><a class="a__nav__footer" href="/images/ManualDeMarcaMystik.pdf">Nosotros</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="precios__justos__footer">
                    <img src="/images/footer/preciosjustos.png" alt="Logo de precios">
                    <img src="/images/footer/sid.png" alt="Logo de sid">
                </article>
        </section>
        <section class="section__footer__bottom">
            <article class="bottom__nav__izquierdo">
                <i class="fa-solid fa-globe"></i>
                <p>Argentina</p>
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="/derechos-reservados">2023 S.R.L todos los derechos reservados</a></li>
                    </ul>
                </nav>
            </article>
            <article class="bottom__nav__derecho">
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="/informacion/#terminosycondiciones">Terminos y condiciones</a></li>
                        <p class="a__nav__footer" >Politicas de privacidad y cookies</p>
                    </ul>
                </nav>
            </article>
        </section>
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
