
<header>
    <nav class="nav-general">
        <div class="scrolling-text">
            <div class="scrolling-text-inner">MÍNIMO DE COMPRA $75.000 ENVIOS A TODO EL PAÍS💥60% OFF EN LA SEGUNDA PRENDA💣30% OFF EN TU PRIMERA COMPRA🔥PARTICIPA EN LOS SORTEOS REGISTRANDOTE</div>
        </div>
    </nav>
    <div class="header-top">
        
        <div class="navbar-header">
            <div class="hamburguesa">
                
                <button class="hamburguesabtn"><i class="fas fa-bars"></i></button>
                <div class="hamburguesa-content">
                    <a href="/"><strong>INICIO</strong></a> 
                    <a href="#"><strong>TIENDA</strong></a> 
                    <a href="/productos/colecciones"><strong>COLECCIÓN</strong></a> 
                    <a href="/informacion/#politica-de-devolucion" class="line-end"><strong>POLITICA DE DEVOLUCIÓN</strong></a>
                </div>

            </div>
        </div>
        
        <div class="logo-container">
            <a href="/"><img src="/images/LOGO/LogoDesktop/logo.svg" class="logo-general" alt=""></a>
            <a href="/"><img src="/images/LOGO/LogoMobile/logo-mobile.svg" class="logo-mobile" alt="Logo"></a>
        </div>
        <div class="nav-desktop">
            <a href="/">INICIO</a> 
            <a href="/tienda">TIENDA</a> 
            <a href="/productos/colecciones">COLECCIÓN</a>
            <a href="/informacion/#politica-de-devolucion">POLITICA DE DEVOLUCIÓN</a>
        </div>
        <div class="search-cart">
            <input type="text" placeholder="Buscar"><i class="fas fa-search"></i>

            <div class="cart">
                <% if (locals.usuario){ %>
                    <a href="/productos/carrito"><i class="fa-solid fa-cart-shopping icon-carrito-user"></i></a>
                    <% }else { %>
                        <a href="/users/login"><i class="fa-solid fa-cart-shopping icon-carrito-user"></i></a>
                <% } %>
            </div>
            
                <% if(locals.usuario){ %>
                    <div class="transition_menu">
                    <a class="line"><%= locals.usuario.nombre %></a>
                    <div id="user-name">
                        <ul>
                        <li id="user-name"><%= usuario.nombre %></li>
                        <li><a class="user-menu" href="/users/editar/<%=usuario.id%>">Perfil</a></li>
                        <% if (locals.usuario && usuario.roles_id == 1) {%>
                            <li><a class="user-menu" href="/productos/dashboard">Dashboard</a></li>
                            <% } %>
                        <li><a class="user-menu" href="/users/logout">Cerrar sesion</a></li>
                        </ul>
                    </div>
                    </div>
                <% }else{ %>
                    <a href="/users/login" class="line"><i class="fa-solid fa-user icon-user-login"></i></a>
                <% } %>
            </div>
        </div>
    </div>

    <div class="container-circle-up">
        <a href="#"><i class="fa-solid fa-circle-up fa-caret-up"></i></a>
    </div>
</header>