<!-- head -->

<%- include('./partials/head.ejs') %>

<body>
    <footer>
        <section class="section__footer__nav">
                <article class="buscar__tienda__footer">
                    <a class="a__bold" href="/buscarTienda">BUSCAR TIENDA</a>
                </article>
                <article class="ayuda__footer">
                    <nav class="nav__ayuda">
                        <ul>
                            <li><a class="a__bold" href="/ayuda">AYUDA</a></li>
                            <li><a class="a__nav__footer" href="/envios-entrega">Envíos y entregas</a></li>
                            <li><a class="a__nav__footer" href="/opciones-pago">Opciones de pago</a></li>
                            <li><a class="a__nav__footer" href="/contacto">Contactate</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="acerca__mystik__footer">
                    <nav>
                        <ul>
                            <li><a class="a__bold" href="/acerca-mistyk">ACERCA DE MYSTIK</a></li>
                            <li><a class="a__nav__footer" href="/noticias">Noticias</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="precios__justos__footer">
                    <img src="/img/footer/preciosjustos.png" alt="Logo de precios">
                    <img src="/img/footer/sid.png" alt="Logo de sid">
                </article>
        </section>
        <section class="section__footer__bottom">
            <article class="bottom__nav__izquierdo">
                <i class="fa-solid fa-globe"></i>
                <span>Argentina</span>
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="/derechos-reservados">2023 S.R.L todos los derechos reservados</a></li>
                    </ul>
                </nav>
            </article>
            <article class="bottom__nav__derecho">
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="">Terminos y condiciones</a></li>
                        <li><a class="a__nav__footer" href="">Politicas de privacidad y cookies</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </footer>
</body>

</html>