<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>header Mystik</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/1e2541cc15.js" crossorigin="anonymous"></script>
</head>

<body>
    <footer>
        <nav class="nav__principal">
            <ul class="ul-buscar">
                <li><a href="/buscar">BUSCAR </a></li>
                <li><a href="/tienda"> TIENDA</a></li>
            </ul>
        </nav>
        <div class="linea_container-1">
            <div class="linea"></div>
        </div>
        <nav class="nav__secundario">
            <ul>
                <li><a href="/ayuda" class="negrita">AYUDA</a></li>
                <li><a href="/envioEntrega">Envíos y entregas</a></li>
                <li><a href="/opcionPago">Opciones de pago</a></li>
                <li><a href="/contacto">Contactate</a></li>
            </ul>
        </nav>
        <div class="linea_container-2">
            <div class="linea"></div>
        </div>
        <nav class="nav__nosotros">
            <ul>
                <li><a href="acerca" class="negrita">ACERCA DE MYSTIK</a></li>
                <li><a href="noticias">Noticias</a></li>
            </ul>
        </nav>
        <div class="linea_container-3">
            <div class="linea"></div>
        </div>
        <div class="preciosJustos">
            <img src="/img/footer/preciosjustos.png" alt="precios justos">
            <img src="/img/footer/sid.png" alt="sid">
        </div>
        <div class="h3-span">
            <span><i class="fa-solid fa-earth-americas" style="color: #ffffff;"></i>Argentina</span>
            <span>S.R.L todos los derechos reservados</span>
        </div>
        <div class="h3-span">
            <span><a href="/terminos">Terminos y condiciones</a></span>
            <span><a href="/politicas">Politicas de privacidad y cookies</a></span>
        </div>
    </footer>
</body>

</html>