body{
    font-size: 12px;
}

.botonSeguirComprando{
    margin: 10px 20px;
}
.botonSeguirComprando a{
    margin: auto;
    text-decoration: none;
    color: var(--color-negro);
    background-color: var(--color-gris-claro);
    border-radius: 5px;
    padding: 1%;
}
.productos_carrito{
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gris-claro);
    border-radius: 10px;
}
.productos_carrito img{
    width: 20%;
    height: 20%;
    margin: 8px;
}
.article_carrito_body{
    display: flex;
    flex-wrap: wrap;
}

.caja_de_producto{
    width: 74%;
    display: flex;
    margin-top: 30px;
    font-size: 8px;
    flex-direction: column;
}

.caja_de_producto i{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3%;
}

.linea_1{
    width: 80%;
    border: 1px solid black;
    margin: 10px auto;
}

.boton__finalizar{
    display: flex;
    background-color: var(--color-gris-claro) ;
    width: 80%;
    font-size:8px;
    margin: 5%;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
}
.boton__finalizar h2{
    display: flex;
    width: 60%;

}
.boton__finalizar a{
    margin: auto;
    background-color: var(--color-blanco);
    padding: 1%;
    border-radius: 10px;
    text-decoration: none;
    color: var(--color-negro);
    width: 30%;
    text-align: center;
    font-weight: bold;
}

.pago{
    margin: auto;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--color-gris-claro);
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
}
.entrega-pago{
    text-align: center;
    margin: 10px;
    background-color: var(--color-blanco);
    width: 40%;
    border-radius: 5px;
}

.caja_entrega_pago{
    width: 75%;
}

.metodo_de_pago{
    width: 25%;
}
.metodo_de_pago i{
    font-size: 20px;
    margin-top: 10%;
}
.pago article{
    width: 100%;
}

.pago input{
    border: none;
    margin: 3%;
    border-radius: 5px;
    width: 80%;
}
.pago button{
    width: 50%;
    border: none;
    border-radius: 5px;
    margin-top: 2%;
    margin-bottom: 10px;
    background-color: var(--color-violeta-oscuro);
    color: var(--color-blanco);
    transition: all 600ms;
}

.pago button:hover{
    transition: all 400ms;
    background-color: var(--color-violeta-claro);
}

.pago h1{
    margin: 10px 0px;
    width: 100%;
}
.pago h4{
    color: green;
}

.main_carrito h4{
    text-align: center;
}
.main_carrito h3{
    margin-bottom: 0px;
    text-align: center;
    font-weight: bold;
}
.protegido_carrito{
    margin-top: 0px;
}
.logo_final_carrito{
    text-align: center;
    width: 100%;
}
.logo_final_carrito img{
    width: 20%;
}
.compra__segura__carrito{
    margin: 20px 5px;
}
@media (min-width: 768px) {
    .main_carrito{
        font-size: 15px;
        width: 90%;
        margin: auto;
    }
    .productos_carrito h2{
        font-size: 15px;
    }
    .productos_carrito h3{
        font-size: 15px;
    }
    .productos_carrito i{
        font-size: 15px;
        margin-top: 40px;
    }
    .caja_de_producto{
        margin-top: 70px;
    }
    .boton__finalizar{
        font-size: 12px;
    }
    .pago{
        font-size: 12px;
    }
    .pago input{
        font-size: 12px;
        padding: 8px;
    }
    .pago i{
        font-size: 35px;
    }
    .pago button{
        font-size: 15px;
        padding: 5px;
    }
    .botonSeguirComprando{
        margin: 20px 35px;
    }
    .logo_final_carrito img{
        width: 10%;
    }
}
@media (min-width:1024px) {
    .main_carrito{
        font-size: 15px;
        width: 60%;
        margin: auto;
    }
    .botonSeguirComprando{
        margin: 25px 70px;
    }
    .caja_de_producto{
        margin-top: 70px;
    }
    .caja_de_producto h2{
        font-size: 20px;
    }
    .caja_de_producto h3{
        font-size: 20px;
    }
    .caja_de_producto i{
        font-size: 20px;
    }
    .pago form{
        width: 100%;
    }
    .pago input{
        margin: 10px;
    }
    .entrega-pago{
        padding: 5px;
        margin: 20px;
        width: 30%;
    }
    .logo_final_carrito img{
        width: 5%;
    }
    .article_carrito_body{
        margin: 10px;
    }
}