/*HEADER*/

header {
    text-align: center;
    display: inline;

}

.logo_mobile {
    width: 30%;
    margin-top: 50px;

}

.logo_desktop {
    display: none;
}

.burger-menu {
    margin-right: 100%;
    margin-bottom: 10px;
}

#section_header {
    border-bottom: 1px solid black;
}

/*NAV*/


.menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;

}

.menu-list li {
    margin: 0px 5px 15px;
    margin-top: 15px;
}

/*LOGIN FORM*/


fieldset {
    width: 80%;
    border-radius: 15px;
    margin-left: 24px;


}


.logo-vertical-form {
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 45%;
}

h3 {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.item-form {
    margin-left: 40px;

}

#name {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center;


}

#password {
    margin-top: 10px;
    border-radius: 15px;
    padding: 2px;
    margin-bottom: 10px;
}

.forget {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    margin-left: 40px;


}

.button-form {

    background-color: #7E1FBA;
    border-radius: 15px;
    padding: 2px;
    font-size: 15px;
    opacity: 0.7;
    transition: 0.6s;
    color: white;
    width: 80%;
    justify-content: center;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 10px;
}

.button-form:hover {
    cursor: pointer;
    background-color: #511478;
}

.register {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 12px;
    text-align: center;
}

@media(min-width:768px) {
    .logo_mobile {
        display: none;
    }

    .logo_desktop {
        display: flex;
        width: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .burger-menu {
        display: none;
    }

    fieldset {
        width: 80%;
        margin: 10% 40%;
        border-radius: 15px;
        margin-left: 10%;
    }
    .item-form {
        margin-top: 40px;
        margin-left: 10%;
       
     

    
    }
    #name {
        margin-top: 10px;
        border-radius: 15px;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 16px;
        width: 80%;
      


    }

    #password {
        margin-top: 10px;
        border-radius: 15px;
        padding: 5px;
        margin-bottom: 20px;
       width:  60%;
    }

    .forget {
        margin-top: 5px;
        margin-bottom: 30px;
        font-size: 12px;
        margin-left: 20%;


    }

    .button-form {

        background-color: #7E1FBA;
        border-radius: 15px;
        padding: 2px;
        font-size: 15px;
        opacity: 0.7;
        transition: 0.6s;
        color: white;
        width: 80%;
        justify-content: center;
        margin-left: 60px;
        margin-right: 90px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 10px;
    }

    .button-form:hover {
        cursor: pointer;
        background-color: #511478;
    }

    .register {
        margin-top: 20px;
        margin-bottom: 15px;
        font-size: 12px;
        text-align: center;
    }


}


@media(min-width:1024px) {
    fieldset {
        width: 30%;
        height: 50vh;
        margin: 10% 40%;
        border-radius: 15px;
        
    }

        .item-form {
            margin-top: 40px;
            margin-left: 20%;
            margin-right: 10%;
         
    
        
        }
        #name {
            margin-top: 10px;
            border-radius: 15px;
            padding: 5px;
            margin-bottom: 10px;
            text-align: center;
            font-size: 16px;
            width: 60%;
          
    
    
        }
    
        #password {
            margin-top: 10px;
            border-radius: 15px;
            padding: 5px;
            margin-bottom: 20px;
           width:  60%;
        }
    
        .forget {
            margin-top: 5px;
            margin-bottom: 30px;
            font-size: 12px;
            margin-left: 20%;
    
    
        }
    
        .button-form {
    
            background-color: #7E1FBA;
            border-radius: 15px;
            padding: 2px;
            font-size: 15px;
            opacity: 0.7;
            transition: 0.6s;
            color: white;
            width: 80%;
            justify-content: center;
            margin-left: 60px;
            margin-right: 90px;
            margin-bottom: 20px;
            text-align: center;
            font-size: 10px;
        }
    
        .button-form:hover {
            cursor: pointer;
            background-color: #511478;
        }
    
        .register {
            margin-top: 20px;
            margin-bottom: 15px;
            font-size: 12px;
            text-align: center;
        }
    }
