/*.titulo-producto{
    text-align: center;
    padding: 20px;
}

.section-form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.subtitulo{
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: bold;
}

.titulo-producto{
    text-align: center;
    padding: 20px;
}

.section-form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.subtitulo{
    margin-bottom: 20px;
    font-weight: bold;
}
.form-product{
    margin: 40px 0px;
    padding: 30px;
    border: 1px solid var(--color-gris-oscuro);
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
}

.form-product textarea{
    display: flex;
    width: 50%;
}

.form-product input{
    display: flex;
    width: 80%;  
    height: 35px;
    margin-bottom: 20px;
   
}
/*.talle-titulo{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

 .talle-productos{
    display: flex;
    flex-direction: row;
    margin-right: 25px;
  
 }

 .talle-productos input{
    height: 20px;
 }
 .category{
    margin-bottom: 20px;
    font-weight: bold;
 }
 .colors{
    margin-bottom: 20px;
    font-weight: bold;
 }
 .box{
    
    margin-bottom: 20px;
    display: flex;
    flex-direction:row;
    
 }
 .color-box input{
    margin-top: 10px;
    height: 20px;
    display: inline;
   


 }
 .estock{
     margin-bottom: 20px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    flex-direction:column;
 }
 .estock input{
    width: 80px;
 }

.button-enviar-borrar{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button-enviar-borrar button{
    width: 80px;
}

.isInvalid{
    color: crimson;
}
.error {
    border: 1px solid red;
    background-color: rgb(220, 188, 196);
}

@media (min-width: 768px) {

    .form-product{
        margin: 40px 0px;
        padding: 30px;
        border: 1px solid var(--color-gris-oscuro);
        width: 50%;
        flex-direction: column;
        display: flex;
        align-items: center;
    }
    
    
    }
    
    @media (min-width: 1024px) {
       
        .form-product{
            margin: 40px 0px;
            padding: 30px;
            border: 1px solid var(--color-gris-oscuro);
            width: 30%;
            flex-direction: column;
            display: flex;
            align-items: center;
        }
        
       
        
        }
*/

.colecciones_label{
    margin-top:20px;
    display: block;
}

#imagen-placeholder{
    margin-top: 180px;
    color: rgba(128, 128, 128, 0.462);
}

/*Errores*/
.isInvalid{
    color: crimson;
}
.error {
    border: 1px solid red;
    background-color: rgb(220, 188, 196);
}