/* Sección principal contenedora de todo el detalle-producto */
.section-container-main{
    display: flex;
    justify-content: space-around;
}

/* CONTENEDOR DE LAS IMAGENES DEL PRODUCTO PARA COMPRAR SELECCIONADO POR EL USUARIO */
/* CONTENEDOR img al lado del containter-img (3 img) */
.container-more-img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 10%;
    height: 460px;
    /* outline: 2px solid green; */
}

.img-more-prod{
    width: 120px;
    height: 140px;
}

/* Contenedor de la imagen del producto seleccionado */
.container-img {
    height: 460px;
    /* outline: 2px solid red; */
}

/* IMAGEN dentro del contenedor img (container-img) */
.img-product{
    width: 400px;
    height: 460px;
}

.fa-envelope,
.fa-facebook,
.fa-x-twitter,
.fa-x-twitter,
.fa-instagram,
.fa-pinterest
{
    font-size: 20px;
    color: #511478;
    margin-right: 5px;
}

.container-buttons-social{
    margin-top: 10px;
}

/* CAJA PADRE Contenedor principal de la información total del producto (↓ CAJAS HIJAS ↓ )*/
.container-info-product {
    width: 60%;
    /* outline: 2px solid black; */
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Contenedor del PRECIO del producto seleccionado */
.container-price {
    font-weight: 700;
    text-align: center;
}

.container-price span{
    font-size: 22px;
}

.h3-tittle-product{
    font-size: 24px;
}

/* Contenedor de los detalles del producto (ABAJO DE LA CAJA PRECIO) */
.container-details-product {
    /* outline: 2px solid red; */
    margin-top: 12px;
}

.six-interest-free-details-product{
    width: 100%;
    text-align: center;
}

/* CAJAS (COLOR Y TALLE) del producto */
.form-grup-colour {
    text-align: center;
}

.form-grup-size{
    display: flex;
    justify-content: center;
}

.size-options{
    margin: 0px 10px;
}

/* TALLES (S - M - L - XL - XXL) */
.size-s{
    cursor: pointer;
    background-image: url("/images/checkbox-svg/S.svg");
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 50%;
}

.size-m{
    cursor: pointer;
    background-image: url("/images/checkbox-svg/M.svg");
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 50%;
}

.size-l{
        cursor: pointer;
        background-image: url("/images/checkbox-svg/L.svg");
        appearance: none;
        width: 50px;
        height: 50px;
        border: 2px solid #888;
        border-radius: 50%;
}

.size-xl{
    cursor: pointer;
    background-image: url("/images/checkbox-svg/XL.svg");
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 50%;
}

.size-xxl{
    cursor: pointer;
    background-image: url("/images/checkbox-svg/XXL.svg");
    appearance: none;
    width: 50px;
    height: 50px;
    border: 2px solid #888;
    border-radius: 50%;
}
/* ----------------------------- */

.size-options:checked{
    background-color: var(--color-violeta-claro);
}

.size-options:focus {
    border-color: var(--color-violeta-oscuro);
}

.h3-size{
    font-weight: 600;
    margin: 20px 0px;
    text-align: center;
}

/* Contenedor AÑADIR AL CARRITO (BOTON CONTADOR - BOTON ADD CART) */
.container-add-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* CAJA de boton CONTADOR */
.containter-quantity {
    margin: 15px 0px;
}

/* INPUT CONTADOR */
.input-quantity {
    margin: 0px 5px;
    background-color: var(--color-gris-claro);
    border: 1px solid var(--color-gris-oscuro);
    border-radius: 4px;
    width: 35px;
    padding: 4px;
}

/* BOTÓN (añadir al carrito) */
.btn-add-to-cart {
    cursor: pointer;
    font-weight: 600;
    margin: 10px 0px;
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-gris-claro);
    transition: 0.6s;
    text-decoration:none
}

.btn-add-to-cart-carrito {
    cursor: pointer;
    font-weight: 600;
    margin: 10px 0px;
    padding: 5px;
    width: 200px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-gris-claro-v2);
    transition: 0.6s;
    text-decoration:none
}

.btn-add-to-cart-carrito:hover{
    color: var(--color-blanco);
    text-decoration:none;
    background-color: var(--color-violeta-claro);
    transition: all 400ms;
    .fa-plus{
        color: var(--color-blanco);
        transition: all 300ms;
        transform: rotateZ(-90deg);
    }
}

.btn-add-to-cart:hover{
    color: var(--color-blanco);
    text-decoration:none;
    background-color: var(--color-violeta-claro);
    transition: all 400ms;
    .fa-plus{
        color: var(--color-blanco);
        transition: all 300ms;
        transform: rotateZ(-90deg);
    }
}
/* ICONO + dentro del BOTON (añadir al carrito) */
.fa-plus {
    transition: 0.3s;
}
/* Contenedor de la DESCRIPCIÓN */
.container-description {
    cursor: default;
    display: flex;
    justify-content: space-around;
    background-color: var(--color-gris-claro);
    padding: 15px;
    /* outline: 2px solid darkblue ; */
}
.h4-description-care{
    display: inline-block;
}

/* ICONO FLECHA HACIA ABAJO */
.fa-chevron-down {
    color: var(--color-negro);
}

/* CAJA de redes sociales (CAJA PADRE - span - *5 iconos) */
.container-social {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.span-social{
    cursor: default;
}
/* CAJA HIJA DE container-social CONTIENE LOS ICONOS */

.buttons-social{
    margin: 0px 10px;
}

/* FUERA DEL MAIN (Sección principal contenedora de todo el contenido recomendado) */
.container-related-products {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
}


.h2-detail-product{
    margin: 30px 0px;
    text-align: center;
}

/* CAJA CONTENEDORA (de todos los productos recomendados) */
.card-list-products {
    margin: 0px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

/* CAJA DE PRODUCTOS (Recomendados) */
.card {
    margin: 0px 25px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
    margin-bottom: 40px;
    outline: 2px solid var(--color-gris-claro);
}

/* CAJA contenedora de la IMAGEN del producto recomendado */
.img-card{
    height: 300px;
}

/* CAJA PADRE DE (text-product - sox-interest-free and buttons-card) */

/* CAJA PADRE de la INFORMACIÓN del producto recomendado */
.text-product {
    text-align: center;
    font-size: 10px;
}

/* CAJA CONTENEDORA DE BOTONES (buy - look) */
.buttons-card {
    display: flex;
    justify-content: center;
}

/* BOTON COMPRAR */
.button-buy {
    cursor: pointer;
    font-weight: 600;
    margin: 10px 0px;
    padding: 5px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-gris-claro);
    transition: 0.6s;
}

.button-buy:hover{
    color: var(--color-blanco);
    background-color: var(--color-violeta-claro);
    transition: all 400ms;
}
/* BOTON MIRAR */
.button-look {
    cursor: pointer;
    font-weight: 600;
        margin: 10px 0px;
        padding: 5px;
        width: 100px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-gris-claro);
        transition: 0.6s;
}

.button-look:hover{
    color: var(--color-blanco);
    background-color: var(--color-violeta-claro);
    transition: all 400ms;
}

.button-look-more-products{
        font-weight: 600;
        margin: 10px 0px;
        padding: 10px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        background-color: var(--color-gris-claro);
        transition: 0.6s;
}

.button-look-more-products:hover{
    color: var(--color-blanco);
    background-color: var(--color-violeta-claro);
    transition: all 400ms;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .section-container-main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .size-options {
        margin: 0px 4px;
    }

    .container-info-product {
        width: 100%;
        /* outline: 2px solid black; */
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .container-images-product-buy{
        /* outline: 3px solid orange; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 15px;
        width: 100%;
        height: 520px;
    }

    .container-more-img{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 110px;
        margin: 20px;
        position: absolute;
        bottom: 0px;
    }

    .img-more-prod{
        margin: 0px 10px;
        width: 90px;
        height: 110px;
    }

    .container-img {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 360px;
        position: absolute;
        width: 100%;
        top: 0px;
    }

    .img-product {
        width: 320px;
        height: 360px;
    }

    .containter-quantity {
        padding-top: 20px;
    }    

    .container-description {
        background-color: var(--color-gris-claro);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 15px;
        font-size: 16px;
    }

    .description-care{
        width: 80%;
        margin: 15px 0px;
    }

    .container-related-products{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .h2-detail-product{
        margin: 30px 0px;
        text-align: center;
        font-size: 20px;
    }

    .card-list-products{
        width: 90%;
    }

    .card{
        width: 100%;
        margin-bottom: 50px;
        padding: 20px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        outline: 2px solid var(--color-gris-claro);
    }

    .img-card{
        height: 300px;
    }

    .text-product{
        text-align: center;
    }

    .buttons-card{
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .button-buy{
        font-weight: 600;
        margin: 0px 10px;
        padding: 5px;
        width: 100px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-gris-claro);
        transition: 0.6s;
    }
    .button-look{
        font-weight: 600;
        margin: 0px 10px;
        padding: 5px;
        width: 100px;
        border: none;
        border-radius: 5px;
        background-color: var(--color-gris-claro);
        transition: 0.6s;
    }
}

@media only screen and (min-width: 768px){
    .buttons-card{
        width: 100%;
        justify-content: space-around;
    }

    .button-look{
        width: 40px;
    }

    .section-container-main{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }

    .container-info-product{
        width: 100%;
    }

    .container-description{
        width: 100%;
    }

    .container-images-product-buy {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        height: 400px;
    }
    
    .container-more-img{
        width: 10%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
    }

    .img-more-prod{
        width: 100%;
        margin: 0px 10px;
        height: 80px;
    }

    .container-img {
        margin: 0px 10px;
        height: 300px;
        display: flex;
        align-items: center;       
    }

    .img-product {
        width: 260px;
        height: 300px;
    }

    .buttons-card{
        width: 100%;
        justify-content: space-around;
    }
}

@media (min-width: 1024px){
    .section-container-main{
        display: flex;
        flex-direction: column;
    }
    .container-images-product-buy{
        height: 600px;
        width: 100%;
    }
    .container-img{
        margin: 0px 30px;
    }

    .img-product{
        width: 400px;
        height: auto;
    }

    .container-more-img{
        height: 460px;
        margin: 20px 0px;
    }

    .img-more-prod{
        width: 140px;
        margin: 0px 10px;
        height: 160px;
    }

    .card {
        margin: 0px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px;
        margin-bottom: 40px;
        outline: 2px solid var(--color-gris-claro);
    }

    .card-list-products {
        margin: 0px 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
    }

    .container-more-img {
        height:500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0px 10px;
    }

    .button-look{
        width: 50px;
    }
}