
.body-main{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
}



.informacion{
    background-color: rgb(255, 255, 255);
    padding: 50px;
    text-align: center;
    display: block;
}



.terminos-condiciones{
    background-color: rgb(177, 177, 177);
    padding: 50px;
    text-align: center;

}


