/*HEADER*/

header {
    text-align: center;
    display: inline;

}

.logo_mobile {
    width: 30%;
    margin-top: 50px;

}

.logo_desktop {
    display: none;
}

.burger-menu {
    margin-right: 90%;
    margin-bottom: 10px;
    margin-left: 10px;
}

#section_header {
    border-bottom: 1px solid black;
}

/*NAV*/

.img-background-login{
    width: 349px;
    background-image: url("/images/background-login.jpg");
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
}

.menu-list {
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 14px;
}

.menu-list ul{
    display: flex;
    justify-content: center;
    margin-top: 20px
}

.menu-list li {
    margin: 0px 5px;
    margin-top: 25px;
}

.menu-list li a {
    text-decoration: none;
    color: var(--color-violeta-claro);
}

#flecha{
    margin-left: 9px;
}

/*LOGIN FORM*/


.class_cuadrado {
    width: 80%;
    border: 1px solid black;

}

.container_logo_vertical_form{
    display: flex;
    justify-content: center;
    width: 100%;
}

.titulo_iniciar_sesion {
    text-align: center;
}

.login-form{
    width: 100%;
}

.item-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
}
.p-errors{
    color: red;
    animation: error-animated 700ms ease-out 0s 1 normal forwards;
}
@keyframes error-animated {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.input-form{
    margin-top: 10px;
    padding: 2px;
    margin-bottom: 10px;
    text-align: center;
}

#contrasenia {
    /*margin-top: 10px;*/
    /*padding: 2px;*/
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    
}

.forget {
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 12px;
    text-align: center;
}

.button-form {
    width: 40%;
    display: block;
    margin: 0 auto;
    background-color: #111111;
    border-bottom: none;
    border-style: none;
    color: #fff;
    padding: 5px 0px;
    transition: background-color 0.3s ease;
}

.button-form:hover {
    cursor: pointer;
    background-color: #3a3a3a;
}

.register {
    margin-top: 8px;
    margin-bottom: 15px;
}

.register p{
    font-size: 17px;
}

.register p a{
    text-decoration: none;
    color: var(--color-violeta-claro);
}


@media(min-width:768px) {
    .logo_mobile {
        display: none;
    }

    .logo_desktop {
        display: flex;
        width: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 5px;
    }

    .register {
        margin-top: 8px;
        margin-bottom: 15px;
    }
    
    .register p{
        font-size: 17px;
    }
    
    .register p a{
        text-decoration: none;
        color: var(--color-violeta-claro);
        transition: color 0.2s ease;
    }

    .register p a:hover{
        text-decoration: none;
        color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));
    }

    .burger-menu {
        display: none;
    }

    .iniciar_main {
        padding: 10px;
    }

    .class_cuadrado {
        width: 40%;
        border: 1px solid black;
    }

    .titulo_iniciar_sesion {
        font-size: 20px;
        font-weight: bolder;
        text-align: start;
        margin-left: 137px;
    }

    .menu-list {
        width: 100%;
        list-style: none;
        display: flex;
        align-items: center;
        margin-left: 100px;
    }
    
    .menu-list ul{
        display: flex;
        justify-content: center;
        margin-top: 20px
    }
    
    .menu-list li {
        margin: -12px 5px;
        margin-top: 25px;
    }
    
    .menu-list li a {
        text-decoration: none;
        color: var(--color-violeta-claro);
    }

    .input-form {
        margin-top: 10px;
        padding: 5px;
        margin-bottom: 10px;
        text-align: center;
        font-size: 16px;
        width: 100%;
    }

    .password-container {
        position: relative;
        width: 100%;
    }
    
    #togglePassword {
        position: absolute;
        top: 50%;
        left: 514px;
        transform: translateY(-50%);
        cursor: pointer;
    }

    #contrasenia {
        /*margin-top: 10px;*/
        /*padding: 2px;*/
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
    }

    .forget {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 17px;
        display: grid;
        justify-content: center;
    }
    
    .forget a{
        color: var(--color-violeta-claro);
        text-decoration: none;
    }

    .register {
        display: grid;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        text-align: center;
    }

    .recuerdame-div{
        margin-bottom: 15px;
        margin-left: 30%;
    }

    .recuerdame-label{
        cursor: pointer;
        transition: 500ms;
    }
    .recuerdame-label:hover{
        transition: 300ms;
        font-size: 18px;
        color: var(--color-violeta-claro);
    }
    .recuerdame-input{
        cursor: pointer;
    }


}


@media(min-width:1024px) {

    .logo_mobile {
        display: none;
    }

    .logo_desktop {
        display: flex;
        width: 10%;
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 20px;
    }

    .burger-menu {
        display: none;
    }

    #password {
        margin-top: 10px;
        border-radius: 15px;
        /*padding: 5px;*/
        margin-bottom: 20px;
        width: 90%;
    }
}