
.nav-general {
    display: none;
}

.logo_general {
    display: none;
}

.nav-bar {
    width: 40%;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
}

/* BURGUER MENU */

.navbar {
    overflow: hidden;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.dropdown {
    display: flex;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 17px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d3cbcb;
    border-radius: 3px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(118, 115, 115, 0.2);
    z-index: 1;
    top: 60px;
    left: 36px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 2px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #e1e1e1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.options-desktop {
    display: none;
}

/* MAIN */
.inicio_body{
    display: flex;
    justify-content: left;
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.crear_cuenta_header{
    margin-left: 5px;
}

.registro_main{
    display: grid;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

/*.fielset_class{
    max-width: 100%;
    justify-content: center;
    align-items: center;
}*/

.fielset_class{
    display: block;
    align-self: center;
    border: 1px solid black;
    width: 270px;
}

.titulo_cuenta{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 27px;
}

.descripcion_cuenta{
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 7.4px;
}

.formulario_section{
    margin: 0px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

#cuadro_texto{
    width: 220px;
    height: 35px;
}

.nombre_div{
    font-size: 10px;
    margin-bottom: 10px;
}

.formulario_section input{
    width: 100px;
}

.email_div{
    font-size: 12px;
    margin-bottom: 10px;
}

.telefono_div{
    font-size: 12px;
    margin-bottom: 10px;
}

.contraseña_div{
    font-size: 12px;
    margin-bottom: 20px;
}

.logo_imagen_section{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton_registro_div{
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 7px;
    margin-bottom: 20px;
}

.abajo_formulario{
    display: flex;
    justify-content: center;
    font-size: 12px;
}
.formulario_pregunta{
    color: gray;
}

#boton_enviar{
    width: 220px;
    height: 40px;
    color: white;
    background-color: var(--color-violeta-oscuro);
    border: none;
    transition-property: background-color;
    transition-duration: 0.3s;
}

#boton_enviar:hover{
    background-color: var(--color-violeta-claro);
    color: #fff;
}

.inicia_sesion{
    margin-left: 5px;
}

/*MIN WIDTH MOBILE*/
@media (min-width: 426px) {
    .registro_main{
        display: grid;
        justify-content: center;
        align-items: center;
    }

    .inicio_body{
        display: flex;
        justify-content: left;
        margin-left: 30px;
        margin-top: 10px;
    }
    
    /*.fielset_class{
        max-width: 100%;
        justify-content: center;
        align-items: center;
    }*/
    
    .fielset_class{
        display: block;
        align-self: center;
        border: 1px solid black;
        width: 400px;
        margin-right: 20px;
    }
    
    .titulo_cuenta{
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 27px;
    }
    
    .descripcion_cuenta{
        display: grid;
        justify-content: center;
        align-items: center;
        font-size: 11.5px;
    }
    
    .formulario_section{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
    }
    
    #cuadro_texto{
        width: 300px;
        height: 42px;
    }
    
    .nombre_div{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .email_div{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .telefono_div{
        font-size: 12px;
        margin-bottom: 10px;
    }
    
    .contraseña_div{
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .logo_imagen_section{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    
    .boton_registro_div{
        display: grid;
        justify-content: center;
        align-items: center;
        margin-top: 7px;
        margin-bottom: 20px;
    }
    
    #boton_enviar{
        width: 300px;
        height: 45px;
        color: white;
        background-color: var(--color-violeta-oscuro);
        border: none;
    }
    .abajo_formulario{
        display: flex;
        justify-content: center;
        font-size: 15px;
    }
    .formulario_pregunta{
        color: gray;
    }
    .inicia_sesion{
        margin-left: 5px;
    }
}

@media (min-width: 768px) {

    /* HEADER MEDIO */

    .dropbtn {
        display: none;
    }

    .logo_mobile {
        display: none;
    }

    .logo_general{
        display: flex;
        max-width: 170%;
    }

    /* HEADER TOP (.nav-general) */
}