<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <img id="logo" src="/img/logo.png" alt="logotipo-mystik" width="200px">
        <nav id="navegador">
            <ul type="none"><li><a href="/">Inicio |</a></li>
                <li><a href="/tienda">Tienda |</a></li>
                <li><a href="/coleccion">Coleccion |</a></li>
                <li><a href="/politicas-devolucion">Politicas De Devolución</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <H1 style="font-family:'Poppins', sans-serif">COLECCIONES MYSTIK</H1>
        <a href="/tienda#section2"><img width="500px" height="750px" src="/img/productos/collectionDibujo.jpg" alt="Imagen-coleccion-DRAWING"></a>
        <a href="/tienda#section1"><img width="500px" height="750px" src="/img/productos/productoColeccion.jpg" alt="Imagen-coleccion-SPRING"></a>
    </main>
</body>
</html>