<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coleccion</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img id="logo" src="/img/logo.png" alt="logotipo-mystik" width="200px">
        <nav id="navegador">
            <ul type="none"><li><a href="/">Inicio |</a></li>
                <li><a href="/tienda">Tienda |</a></li>
                <li><a href="/coleccion">Coleccion |</a></li>
                <li><a href="/politicas-devolucion">Politicas De Devolución</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <H1 style="font-family:'Poppins', sans-serif">COLECCIONES MYSTIK</H1>
        <a href="/tienda#section2"><img width="500px" height="750px" src="/img/productos/collectionDibujo.jpg" alt="Imagen-coleccion-DRAWING"></a>
        <a href="/tienda#section1"><img width="500px" height="750px" src="/img/productos/productoColeccion.jpg" alt="Imagen-coleccion-SPRING"></a>
    </main>
    <footer>
        <section>
            <h2>BUSCAR TIENDA</h2>
            <article>
                <h2>AYUDA</h2>
                <ul type="none" class="navfooter"><li><a href="">Envíos y entregas</a></li>
                    <li><a href="">Opciones de pago</a></li>
                    <li><a href="">Contactate</a></li>
                </ul>
            </article>
            <article>
                <h2>ACERCA DE MYSTIK</h2>
                <ul type="none" class="navfooter">
                    <li><a href="">Noticias</a></li>
                </ul>
            </article>
            <article>
                <img class="arg" src="/img/preciosjustos.png" alt="preciosjustos-image">
                <img class="arg" src="/img/sid.png" alt="sid-image">
            </article>

        </section>
        
    </footer>
</body>
</html>