<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <header>
        <img id="logo" src="/img/logo.png" alt="logotipo-mystik" width="200px">
        <nav id="navegador">
            <ul type="none"><li><a href="/">Inicio |</a></li>
                <li><a href="/tienda">Tienda |</a></li>
                <li><a href="/coleccion">Coleccion |</a></li>
                <li><a href="/politicas-devolucion">Politicas De Devolución</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article class="carrusel">
            <img src="/img/carrusel.jpg" alt="carrusel-image" width="100%">
        </article>
        <section id="section1" >
            <article>
                <img class="img-producto" src="/img/productos/chaoooos.jpg" alt="Producto-1-chaos-buzo">
                <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - CHAOS</h2>
                <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$42.000</h2>
                <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $14.333</h3>
            </article>
        <article>
                <img class="img-producto" src="/img/productos/UrbanCity.jpg" alt="Producto-2-urbancity-buzo">
                <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - URBAN CITY</h2>
                <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$44.999</h2>
                <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $15.000</h3>
            </article>
        <article>
                <img class="img-producto" src="img/productos/ReligionSucks.jpg" alt="Producto-3-religiussucks-buzo">
                <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - RELIGION SUCKS</h2>
                <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$44.999</h2>
                <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $15.000</h3>
            </article>
        <article>
                <img class="img-producto" src="img/productos/productoColeccion.jpg" alt="coleccion-link">
                <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">SPRING COLLECTION</h2>
                <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">6 Cuotas sin interés en compras <br> superiores a $60.000</h3>
            </article>
    </section>
    <section id="section2">
        <article>
            <img class="img-producto" src="img\productos\dibujitop.jpg" alt="Producto-1-chaos-buzo">
            <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - CHAOS</h2>
            <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$42.000</h2>
            <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $14.333</h3>
        </article>
    <article>
            <img class="img-producto" src="img\productos\dibujito2.jpg" alt="Producto-2-urbancity-buzo">
            <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - URBAN CITY</h2>
            <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$44.999</h2>
            <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $15.000</h3>
        </article>
    <article>
            <img class="img-producto" src="img\productos\dddibujito3.jpg" alt="Producto-3-religiussucks-buzo">
            <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">BUZO NEGRO - RELIGION SUCKS</h2>
            <h2 style="font-weight: bold; font-family:'Poppins', sans-serif;">$44.999</h2>
            <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">3 Cuotas sin interés de $15.000</h3>
        </article>
    <article>
            <img class="img-producto" src="img\productos\collectionDibujo.jpg" alt="coleccion-link">
            <h2 style="font-weight: 400; font-family:'Poppins', sans-serif">DRAWING COLLECTION</h2>
            <h3 style="font-weight: 400; font-family:'Poppins', sans-serif;">6 Cuotas sin interés en compras <br> superiores a $60.000</h3>
        </article>
</section>
    </main>
    <footer>
        <section>
            <h2>BUSCAR TIENDA</h2>
            <article>
                <h2>AYUDA</h2>
                <ul type="none" class="navfooter"><li><a href="/envios-entregas">Envíos y entregas</a></li>
                    <li><a href="">Opciones de pago</a></li>
                    <li><a href="">Contactate</a></li>
                </ul>
            </article>
            <article>
                <h2>ACERCA DE MYSTIK</h2>
                <ul type="none" class="navfooter">
                    <li><a href="">Noticias</a></li>
                </ul>
            </article>
            <article>
                <img class="arg" src="/img/preciosjustos.png" alt="preciosjustos-image">
                <img class="arg" src="/img/sid.png" alt="sid-image">
            </article>

        </section>
        
    </footer>
</body>
</html>