<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/stylepoliticas-devolucion.css">
    <link rel="stylesheet" href="/css/stylehome.css">
</head>
<body>
    <header>
        <img id="logo" src="/img/logo.png" alt="logotipo-mystik" width="200px">
        <nav id="navegador">
            <ul type="none"><li><a href="/">Inicio |</a></li>
                <li><a href="/tienda">Tienda |</a></li>
                <li><a href="/coleccion">Coleccion |</a></li>
                <li><a href="/politicas-devolucion">Politicas De Devolución</a></li>
            </ul>
        </nav>
    </header>
    <main>
    <section id="fuente">
        <h1>Política de Devolución de Mystik</h1>
        <p>En Mystik, nos esforzamos por proporcionar productos de alta calidad y una experiencia de compra satisfactoria. Si no estás completamente satisfecho con tu compra, estamos aquí para ayudarte con nuestro proceso de devolución.</p>
        <h1>1. Plazo de Devolución</h1>
        <p>Aceptamos devoluciones dentro de un plazo de 30 días a partir de la fecha de compra. Para ser elegible para una devolución, el artículo debe estar sin usar, en las mismas condiciones en las que lo recibiste y con la etiqueta original.</p>
        <h1>2. Artículos No Elegibles para Devolución</h1>
        <p>Algunos artículos no son elegibles para devolución, a menos que estén defectuosos o dañados. Estos incluyen:</p>
        <ul>
            <li>Ropa interior y trajes de baño.</li>
            <li>Artículos en liquidación o con descuento especial.</li>
            <li>Productos personalizados o hechos a medida.</li>
        </ul>
        <h1>3. Proceso de Devolución</h1>
        <p>Para iniciar el proceso de devolución, sigue estos pasos:</p>
        <ul>
            <li>a. Comunícate con nuestro equipo de servicio al cliente dentro del plazo de devolución para obtener una autorización de devolución.</li>
            <li>b. Empaqueta el artículo de manera segura en su empaque original (si es posible).</li>
            <li>c. Adjunta una copia de la factura original o el comprobante de compra.</li>
            <li>d. Devuelve el artículo a la siguiente dirección: [Dirección de Devolución de Mystik].</li>
        </ul>
        <h1>4. Inspección y Aprobación de Devolución</h1>
        <p>Una vez que recibamos tu artículo, lo inspeccionaremos para asegurarnos de que cumple con nuestras políticas de devolución. Si el artículo cumple con los requisitos, aprobaremos la devolución.</p>
        <h1>5. Opciones de Devolución</h1>
        <p>Tendrás las siguientes opciones:</p>
        <ul>
            <li>a. Reembolso: Emitiremos un reembolso a la forma de pago original.</li>
            <li>b. Crédito en la Tienda: Te proporcionaremos un crédito en la tienda por el valor del artículo devuelto.</li>
        </ul>
        <h1>6. Gastos de Envío</h1>
        <p>Los gastos de envío originales no son reembolsables, a menos que el artículo esté defectuoso o dañado.</p>
        <h1>7. Devoluciones por Artículos Defectuosos o Dañados</h1>
        <p>Si recibes un artículo defectuoso o dañado, por favor comunícate con nuestro equipo de servicio al cliente de inmediato. Nos encargaremos de reemplazar el artículo o emitir un reembolso completo, incluyendo los gastos de envío.</p>
        <h1>8. Contacto</h1>
        <p>Si tienes alguna pregunta o necesitas asistencia con una devolución, por favor comunícate con nuestro equipo de servicio al cliente en [Correo Electrónico] o [Número de Teléfono].</p>
        <p>Mystik se reserva el derecho de modificar o actualizar esta política de devolución en cualquier momento. Te recomendamos revisar nuestra política de devolución antes de realizar una compra.</p>
        <p>Gracias por elegir Mystik. Valoramos tu negocio y haremos todo lo posible para garantizar tu satisfacción.</p>
    </section>
    </main>
    <footer>
        <section>
            <h2>BUSCAR TIENDA</h2>
            <article>
                <h2>AYUDA</h2>
                <ul type="none" class="navfooter"><li><a href="">Envíos y entregas</a></li>
                    <li><a href="">Opciones de pago</a></li>
                    <li><a href="">Contactate</a></li>
                </ul>
            </article>
            <article>
                <h2>ACERCA DE MYSTIK</h2>
                <ul type="none" class="navfooter">
                    <li><a href="">Noticias</a></li>
                </ul>
            </article>
            <article>
                <img class="arg" src="/img/preciosjustos.png" alt="preciosjustos-image">
                <img class="arg" src="/img/sid.png" alt="sid-image">
            </article>
        </section>
    </footer>
</body>
</html>