<!-- head -->

<%- include('../partials/head.ejs') %>
<body>
<!-- header -->

<%- include('../partials/headerProduct.ejs') %>
<main class="main_carrito">
    <div class="botonSeguirComprando">
        <a href="./index.html"><i class="fa-solid fa-caret-left" style="color:#7E1FBA;"></i> Seguir comprando</a>
    </div>
    <section class="productos_carrito">
        <article class="article_carrito_body">
            <img src="/images/prod_de_arriba/chaoooos.jpg" alt="buzo chaos">
            <div class="caja_de_producto">
                <h2>Buzo Chaos overzise</h2>
                <h3>(negro, XL)</h3>
                <h2>$40.000,00</h2>
                <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
            </div>
            <hr class="linea_1">
        </article>        
        <article class="article_carrito_body">
            <img src="/images/prod_de_arriba/ReligionSucks.jpg" alt="buzo religion">
            <div class="caja_de_producto">
                <h2>Buzo Religion Sucks overzise</h2>
                <h3>(negro, S)</h3>
                <h2>$45.000,00</h2>
                <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
            </div>
            <hr class="linea_1">
        </article>
        <article class="article_carrito_body">
            <img src="/images/prod_de_arriba/UrbanCity.jpg" alt="buzo UrbanCity">
            <div class="caja_de_producto">
                <h2>Buzo Urban City overzise</h2>
                <h3>(negro, L)</h3>
                <h2>$30.000,00</h2>
                <i class="fa-solid fa-trash-can" style="color: #000000;"></i>
            </div>
            <hr class="linea_1">
        </article>
    </section>
    <div class="boton__finalizar">
        <h2>Monto Total $115.000,00</h2>
        <a href="/">Finalizar compra</a>
    </div>
    <section class="pago">
        <div class="caja_entrega_pago">
            <h3 class="entrega-pago">Entrega > Pago</h3>
        </div>
        <div class="metodo_de_pago">
            <i class="fa-brands fa-cc-visa" style="color:  #511478;"></i>
            <i class="fa-brands fa-cc-mastercard" style="color:  #511478;"></i>
        </div>
    <h1>Datos de contacto</h1>
    <article>
        <form class="imput-email" action="/carrito" method="post">
            <input type="email" name="emailContacto" placeholder="Email">
        </form>
    </article>
    <h1>Entrega</h1>
    <Form>
        <input type="text" name="direccionEnvio" placeholder="Dirección">
        <input type="text" name="provinciaEnvio" placeholder="Provincia">
        <input type="number" name="codigoPostal" placeholder="Código Postal">
        <input type="text" name="especificacionDireccion" placeholder="Piso, Depto, etc (opcional)">
        <button type="submit">Enviar</button>
    </Form>
    <h4>Envío gratis superando los $100.000,00</h4>
    </section>
    <div class="compra__segura__carrito">
        <h3><i class="fa-solid fa-shield-halved" style="color: #000000;"></i> Compra segura</h3>
        <h4 class="protegido_carrito">100% protegido</h4>
    </div>
    <div class="logo_final_carrito">
        <img src="/images/LOGO/LogoMobile/Isotipo.png" alt="logo Mystik" width="20px">
    </div>
</main>
<footer>
    <section class="section__footer__nav">
            <article class="buscar__tienda__footer">
                <a class="a__bold" href="/buscarTienda">BUSCAR TIENDA</a>
            </article>
            <article class="ayuda__footer">
                <nav class="nav__ayuda">
                    <ul>
                        <li><a class="a__bold" href="/ayuda">AYUDA</a></li>
                        <li><a class="a__nav__footer" href="/envios-entrega">Envíos y entregas</a></li>
                        <li><a class="a__nav__footer" href="/opciones-pago">Opciones de pago</a></li>
                        <li><a class="a__nav__footer" href="/contacto">Contactate</a></li>
                    </ul>
                </nav>
            </article>
            <article class="acerca__mystik__footer">
                <nav>
                    <ul>
                        <li><a class="a__bold" href="/acerca-mistyk">ACERCA DE MYSTIK</a></li>
                        <li><a class="a__nav__footer" href="/noticias">Noticias</a></li>
                    </ul>
                </nav>
            </article>
            <article class="precios__justos__footer">
                <img src="/images/footer/preciosjustos.png" alt="Logo de precios">
                <img src="/images/footer/sid.png" alt="Logo de sid">
            </article>
    </section>
    <section class="section__footer__bottom">
        <article class="bottom__nav__izquierdo">
            <i class="fa-solid fa-globe"></i>
            <span>Argentina</span>
            <nav>
                <ul>
                    <li><a class="a__nav__footer" href="/derechos-reservados">2023 S.R.L todos los derechos reservados</a></li>
                </ul>
            </nav>
        </article>
        <article class="bottom__nav__derecho">
            <nav>
                <ul>
                    <li><a class="a__nav__footer" href="">Terminos y condiciones</a></li>
                    <li><a class="a__nav__footer" href="">Politicas de privacidad y cookies</a></li>
                </ul>
            </nav>
        </article>
    </section>
</footer>
</body>
</html>