<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/8f20961981.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav class="nav-general">
            <div>
                <a href="#" class="line">+54 11 12345678 |</a>
                <a href="#" class="line">consultas@mystikindumentaria.com |</a>
                <a href="#">Ayuda</a>
            </div>
            <div>
                <a href="#" class="line">Crear Cuenta | </a>
                <a href="#">Iniciar Sesión</a>
            </div>

        </nav>

        <div class="header-top">
            
            <div class="navbar">
                
                <div class="dropdown">
                    
                    <button class="dropbtn"><i class="fas fa-bars"></i></button>
                    <div class="dropdown-content">
                        <a href="#">INICIO</a> 
                        <a href="#">TIENDA</a> 
                        <a href="#">COLECCIÓN</a> 
                        <a href="#" class="line-end">POLITICA DE DEVOLUCIÓN</a>
                    </div>
                </div>
            
            </div>
            
            <div class="logo-container">
                <a href="#"><img src="/images/LOGO/LogoDesktop/logo.svg" class="logo-general" alt=""></a>
                <a href="#"><img src="/images/LOGO/LogoMobile/logo-mobile.svg" class="logo-mobile" alt="Logo"></a>
            </div>
            
            <div class="search-cart">
                <input type="text" placeholder="Buscar"><i class="fas fa-search"></i>
                <div class="cart">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p class="precio">$0</p>
                </div>
            </div>
        </div>

        <div class="options-desktop">
            <a href="#"><strong>INICIO</strong></a> 
            <a href="#"><strong>TIENDA</strong></a> 
            <a href="#"><strong>COLECCIÓN</strong></a> 
            <a href="#" class="line-end"><strong>POLITICA DE DEVOLUCIÓN</strong></a>
        </div>
    </header>

    <main>
        <section class="section_form_edit_product">
        <form action="/products/edit/:id?_method=PUT" method="POST" class="form_edit_product">
                <legend>Edición del producto</legend>
            <label for="">Imagen</label>
            <div class="container_img_edit_product">
                <img class="img_edit_product" src="/images/default.png" alt="no-img">
            </div>
            <input type="file" name="" id="">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="precio">
            <textarea class="textarea_form_edit_product" name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción"></textarea>
            <legend>Talle</legend>
            <div class="containter_talle_edit_product">
                <label>S</label>
                <input type="checkbox" tabindex="20" name="talle" value="S" />
                <label>M</label>
                <input type="checkbox" tabindex="21" name="talle" value="M" />
                <label>L</label>
                <input type="checkbox" tabindex="22" name="talle" value="L" />
                <label>XL</label>
                <input type="checkbox" tabindex="23" name="talle" value="XL" />
                <label>XXL</label>
                <input type="checkbox" tabindex="24" name="talle" value="XXL" />
            </div>
                <button>
                    Editar
                </button>
            <input type="reset">
            </form>
    </section>
    </main>

    <footer>
        <section class="section__footer__nav">
                <article class="buscar__tienda__footer">
                    <a class="a__bold" href="/buscarTienda">BUSCAR TIENDA</a>
                </article>
                <article class="ayuda__footer">
                    <nav class="nav__ayuda">
                        <ul>
                            <li><a class="a__bold" href="/ayuda">AYUDA</a></li>
                            <li><a class="a__nav__footer" href="/envios-entrega">Envíos y entregas</a></li>
                            <li><a class="a__nav__footer" href="/opciones-pago">Opciones de pago</a></li>
                            <li><a class="a__nav__footer" href="/contacto">Contactate</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="acerca__mystik__footer">
                    <nav>
                        <ul>
                            <li><a class="a__bold" href="/acerca-mistyk">ACERCA DE MYSTIK</a></li>
                            <li><a class="a__nav__footer" href="/noticias">Noticias</a></li>
                        </ul>
                    </nav>
                </article>
                <article class="precios__justos__footer">
                    <img src="/images/footer/preciosjustos.png" alt="Logo de precios">
                    <img src="/images/footer/sid.png" alt="Logo de sid">
                </article>
        </section>
        <section class="section__footer__bottom">
            <article class="bottom__nav__izquierdo">
                <i class="fa-solid fa-globe"></i>
                <span>Argentina</span>
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="/derechos-reservados">2023 S.R.L todos los derechos reservados</a></li>
                    </ul>
                </nav>
            </article>
            <article class="bottom__nav__derecho">
                <nav>
                    <ul>
                        <li><a class="a__nav__footer" href="">Terminos y condiciones</a></li>
                        <li><a class="a__nav__footer" href="">Politicas de privacidad y cookies</a></li>
                    </ul>
                </nav>
            </article>
        </section>
    </footer>
</body>